.navbar{
  display: flex;
  justify-content: space-between;
  background: rgb(238, 255, 253);
  padding: 10px;
  position: sticky;
}

.logo-top-left {
  width: 80px;
  border-radius: 50%;
}

.links {
  padding: 10px;
}
